<div class="page">
  <header class="page-header">
    <h1>TCM Assistant</h1>
  </header>

  <div class="accordion-container">
<mat-accordion multi>
  @for (category of categories(); track category.id) {
    <mat-expansion-panel (opened)="onOpenCategory(category.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ category.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      @if (drugService.getDrugsSignal(category.id)(); as drugs) {
        @for (drug of drugs; track drug.id) {
          <app-drug-preview
            [drug]="drug"
            [expanded]="selectedDrugId() === drug.id"
            (userClickPreview)="toggleDrug(drug.id)"
          >
          </app-drug-preview>
          @if (selectedDrugId() === drug.id && selectedDrugDetail()) {
            <app-drug-view [drug]="selectedDrugDetail()!"></app-drug-view>
          }
        }
      }
    </mat-expansion-panel>
  }
</mat-accordion>
  </div>
</div>
